{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "html"
  ],
  "rules": {
    /*
     * Possible Errors - http://eslint.org/docs/rules/#possible-errors
     */
    "no-console": [ // http://eslint.org/docs/rules/no-console
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    /*
     * Best Practices - http://eslint.org/docs/rules/#best-practices
     */
    "array-callback-return": "error", // http://eslint.org/docs/rules/array-callback-return,
    "default-case": "error", // http://eslint.org/docs/rules/default-case
    "no-eq-null": "error", // http://eslint.org/docs/rules/no-eq-null
    "no-lone-blocks": "error", // http://eslint.org/docs/rules/no-lone-blocks
    "no-loop-func": "error", // http://eslint.org/docs/rules/no-lone-blocks
    "no-multi-str": "error", // http://eslint.org/docs/rules/no-multi-str
    "no-new": "error", // http://eslint.org/docs/rules/no-new
    "no-new-wrappers": "error", // http://eslint.org/docs/rules/no-new-wrappers
    "no-proto": "error", // http://eslint.org/docs/rules/no-proto
    "no-return-assign": "error", // http://eslint.org/docs/rules/no-return-assign
    "no-script-url": "error", // http://eslint.org/docs/rules/no-script-url
    "no-self-compare": "error", // http://eslint.org/docs/rules/no-self-compare
    "no-unmodified-loop-condition": "error", // http://eslint.org/docs/rules/no-unmodified-loop-condition
    "no-sequences": "error", // http://eslint.org/docs/rules/no-sequences
    "no-throw-literal": "error", // http://eslint.org/docs/rules/no-throw-literal
    "no-useless-call": "error", // http://eslint.org/docs/rules/no-useless-call
    "no-caller": "error", // http://eslint.org/docs/rules/no-caller
    "no-useless-concat": "error", // http://eslint.org/docs/rules/no-useless-concat
    "dot-notation": [ // http://eslint.org/docs/rules/dot-notation
      "error",
      {
        "allowKeywords": true,
        "allowPattern": "^[a-z]+(-[a-z]+)+$"
      }
    ],
    "radix": ["error", "as-needed"], // http://eslint.org/docs/rules/radix
    /*
     * Variables - http: //eslint.org/docs/rules/#variables
     */
    "no-label-var": "error", // http://eslint.org/docs/rules/no-label-var
    "no-undefined": "off", // http://eslint.org/docs/rules/no-undefined
    /*
     * Stylistic Issues - http://eslint.org/docs/rules/#stylistic-issues
     */
    "camelcase": [ // http://eslint.org/docs/rules/camelcase
      "error",
      {
        "properties": "never"
      }
    ],
    "comma-dangle": "error", // http://eslint.org/docs/rules/comma-dangle,
    "lines-around-comment": [ // http://eslint.org/docs/rules/lines-around-comment
      "error",
      {
        "beforeBlockComment": true
      }
    ],
    "no-inline-comments": "error", // http://eslint.org/docs/rules/no-inline-comments
    "no-nested-ternary": "off", // http://eslint.org/docs/rules/no-nested-ternary
    "quotes": [ // http://eslint.org/docs/rules/quotes
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "no-new-object": "error", // http://eslint.org/docs/rules/no-new-object
    "no-array-constructor": "error", // http://eslint.org/docs/rules/no-array-constructor,
    "nonblock-statement-body-position": [ // http://eslint.org/docs/rules/nonblock-statement-body-position
      "error",
      "beside"
    ]
  },
  "settings": {
    "html/indent": "+2",
    "html/report-bad-indent": "error"
  },
  "globals": {
    "Polymer": true,
    "MetaPolymer": true,
    "expect": true,
    "fixture": true,
    "sinon": true,
    "page": true,
    "OEUtils": true,
    "HTMLImports": true,
    "ev_navigate_to": true,
    "I18nMsg": true,
    "Platform": true,
    "Promise": true,
    "MockInteractions": true,
    "forceXIfStamp": true,
    "assert": true,
    "flush": true
  }
}
