<!-- <script  type="text/javascript" src="../scripts/jquery-1.8.3.min.js"></script> -->



<dom-module id="demo-accordian">
    <template>
        <style is="custom-style">
            .background-color {
                background-color: #dadada;
            }

            .magnified {
                position: relative;
                height: 1000px;
            }

        </style>
        <div class=" background-color" style="height: 100%;">

            <div>

                <img id="cheque_image" src="http://www.chequeman.com/images/chequeman-cheque2-2.jpg" style="display: inline-block; width: 30%; margin: 20px;"
                />

            </div>

            <iron-icon icon="icons:zoom-in" item-icon on-tap="clickMe" style=" margin-left: 40px;"></iron-icon>
            <iron-icon icon="icons:refresh" item-icon on-tap="rotate" style=" margin-left: 10px;"></iron-icon>

        </div>


    </template>
    <script>
        Polymer({
            is: 'demo-accordian',
            properties: {
                data: {
                    type: Object,
                    notify: true,
                    observer: 'dataChanged'

                },
                degrees: {
                    type: Number,
                    value: 0,
                    notify: true
                }
            },

            dataChanged: function (e) {
                console.log("pulkit");
                console.log(this.data);
            },

            attached: function () {

            },





            rotate: function (e) {

                var degrees = this.degrees;
                var $cboxphoto = $('#cheque_image');
                degrees += 90;
                $cboxphoto.css('-ms-transform', 'rotate(' + degrees + 'deg)');
                $cboxphoto.css('-webkit-transform', 'rotate(' + degrees + 'deg)');
                $cboxphoto.css('transform', 'rotate(' + degrees + 'deg)');

                this.degrees = degrees;


            },




        });
    </script>
</dom-module>