<!--
  ©2016-2017 EdgeVerve Systems Limited (a fully owned Infosys subsidiary),
  Bangalore, India. All Rights Reserved.
-->
<script>
  var OEUtils = window.OEUtils || {};
  OEUtils.metadataCache = OEUtils.metadataCache || {};
  OEUtils.metadataCache['literal-default'] = {
    'componentName': 'literal-default',
    'elements': {},
    'modelName': 'Literal',
    'modelAlias': 'literal',
    'metadata': {
      'models': {
        'Literal': {
          'resturl': '/api/Literals',
          'properties': {
            'key': {
              'type': 'string',
              'unique': true,
              'max': 80
            },
            'value': {
              'type': 'string',
              'max': 250
            },
            'placeholders': {
              'type': 'tags',
              'itemtype': 'string'
            }
          }
        }
      },
      'resturl': '/api/Literals',
      'properties': {
        'key': {
          'type': 'string',
          'unique': true,
          'max': 80
        },
        'value': {
          'type': 'string',
          'max': 250
        },
        'placeholders': {
          'type': 'tags',
          'itemtype': 'string'
        }
      }
    },
    'autoInjectFields': true
  };

</script>
<link rel="import" href="../../../oe-ui-forms/meta-polymer.html">
<link rel="import" href="../../../oe-ui-forms/behaviors/oe-form-validation-behavior.html">
<link rel="import" href="../../../oe-ui-forms/behaviors/oe-model-handler.html">
<link rel="import" href="../../../oe-ui-forms/behaviors/oe-form-messages-behavior.html">
<link rel="import" href="../../../oe-ui-forms/validators/oe-async-validator.html">
<link rel="import" href="../../../oe-ui-forms/validators/oe-combination-validator.html">
<link rel="import" href="../../../oe-input/oe-input.html">
<link rel="import" href="../../../oe-paper-chip/oe-paper-chip.html">

<dom-module id="literal-default">
  <template>
    <style>
      :host {
        margin: 10px;
      }

      .form-header {
        padding: 16px;
      }

      #fields > * {
        padding: 0 16px;
      }

    </style>
    <div class="content layout vertical">
      <div class="evform layout vertical">
        <div class="form-header layout horizontal center">
          <h2 class="flex">Literal</h2>
          <div>
            <template is="toolbar"></template>
            <paper-button raised primary on-tap="doSave" oe-action-model="literal">
              <oe-i18n-msg msgid="Save">Save</oe-i18n-msg>
            </paper-button>
            <paper-menu-button horizontal-align="right">
              <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
              <paper-menu class="dropdown-content" oe-action-model="literal">
                <paper-item on-tap="doClear">
                  <iron-icon icon="description" item-icon></iron-icon>
                  <oe-i18n-msg msgid="New">New</oe-i18n-msg>
                </paper-item>
                <paper-item on-tap="doCopy" disabled$="{{!literal.id}}">
                  <iron-icon icon="content-copy" item-icon></iron-icon>
                  <oe-i18n-msg msgid="Copy">Copy</oe-i18n-msg>
                </paper-item>
                <paper-item on-tap="doFetch" disabled$="{{!literal.id}}">
                  <iron-icon icon="refresh" item-icon></iron-icon>
                  <oe-i18n-msg msgid="Refresh">Refresh</oe-i18n-msg>
                </paper-item>
                <paper-item on-tap="doDelete" oe-action-model="literal" disabled$="{{!literal.id}}">
                  <iron-icon icon="delete" item-icon></iron-icon>
                  <oe-i18n-msg msgid="Delete">Delete</oe-i18n-msg>
                </paper-item>
              </paper-menu>
            </paper-menu-button>
          </div>
        </div>

        <div id="fields" class="layout horizontal wrap">
        </div>
        <div id="grids" class="layout vertical">
        </div>
      </div>
    </div>
  </template>
  <script>
    MetaPolymer({
      is: 'literal-default',
      properties: {
        literal: {
          type: 'object',
          notify: true,
          value: function () {
            return {}
          }
        }
      },
      behaviors: [OEUtils.FormValidationBehavior, OEUtils.ModelHandler, OEUtils.FormMessagesBehavior]
    });

  </script>
</dom-module>
